/*************************************************
    MAIN UTILITIES
 *************************************************/
 :root {
	--color-dark-color: #141922;
	--color-dark-grey: #282828;
	--color-black: #000000;
	--color-white: #ffffff;
	--color-grey: #717171;
	--color-light-grey: #c1c1c1;
	--color-highlight: #adff2f;
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.debug {
    border: 1px solid red;
}

.mt-10{
    margin-top: 10;
}
.mt-20{
    margin-top: 20px;
}
.mb-20{
    margin-bottom: 20px;
}

.mb-30{
    margin-bottom: 30px;
}

.mt-30{
    margin-top: 30px;
}

.mt-50{
    margin-top: 50px;
}

.mt-80{
    margin-top: 80px;
}

.px10{
    padding: 0 10px;
}

.flex{
    display: flex;
}
a{
    text-decoration: none;
    color: white;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
}

.div-megawrapper{
    height: 100vh;
    width: 100%;
}

img{
    display: block;
    width: 100%;
}

ul li{
    list-style: none;
}
/*************************************************
    MAIN 
 *************************************************/
main{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
}

.wrapper{
    background-color: var(--color-dark-color);
    height: 100%;
    width: calc(100% - 250px);
    overflow-y: auto;
}
/****** call to action ******/
.call-to-action{
    position: fixed;
    z-index: 900;
    width: calc(100% - 250px);
    height: 100px;
    background-color: rgba(60, 60, 60, 0.2);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.call-to-action a{
    margin-right: 25px;
}

.btn{
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 20px;
}
.discovery{
    padding: 20px;
    margin-top: 100px;
}
/****** sidebar ******/
.sidebar, .sidebar-small{
    background-color: var(--color-black);
    height: 100%;
    width: 250px;
    padding: 20px;
    font-weight: 300;
    position: relative;
}

.sidebar-small{
    display: none;
}

.box-logo{
    width: 150px;
}

.sidebar li, .sidebar-small li{
    padding: 10px 0px;
}

.sidebar i{
    font-size: 1.3em;
    vertical-align:baseline;
    margin-right: 5px;
}
.sidebar h5{
    font-size: 1.2em;
}

.icon-playlist i{
    color: black;
    background-color: var(--color-grey);
    padding: 8px;
}
.bottom-sidebar{
    position: absolute;
    bottom: 10px;
}

.bottom-sidebar i:first-child{
    font-size: 0.9em;
}
.bottom-sidebar p:first-child{
    font-size: 0.8em;
    padding: 10px 0px;
    border-bottom: 1px solid var(--color-light-grey);
}

.bottom-sidebar p:nth-child(2){
    font-weight: 600;
}
.pb-icon *{
    margin-right: 10px;
}
/********** discovery **********/
.discovery ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
}

.discovery ul li:first-child{
    border-bottom: 1px solid var(--color-highlight);
}

/********** SECTION recently **********/
.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 20px;
}

.card{
    width: calc(100% / 6 - 20px);
}

.text-card{
    padding-top: 10px;
    text-align: center;
    font-size: 1.5em;
}

.text-card h6{
    padding-top: 5px;
    font-weight: 400;
}

.img-card{
    position: relative;
}

#play{
    position: absolute;
    top: 35%;
    left: 35%;
    font-size: 3em;
    display: none;
}

/********** SECTION created **********/
.subtitle{
    font-weight: 400;
    margin-top: -10px;
    color: grey;
}

/********** SECTION popular-artist **********/
#popular-artist .img-card{
    border-radius: 50%;
    overflow: hidden;
}


/*************************************************
    PLAYBAR
 *************************************************/
 .playbar{
    position: fixed;
    z-index: 1000;
    background-color: var(--color-dark-grey);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pb-left, .pb-right{
    padding:10px;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 25%;
}

.pb-middle{
    text-align: center;
    padding: 10px;
    width: 50%;
}
/****** pb-left******/
.playbar .box-image{
    width: 50px;
    min-width: 50px;
}

.pb-icon{
    margin-left: 20px;
}

.pb-left h6{
    font-weight: 400;
    padding-top: 5px;
}
/****** pb-middle******/

.icon-top i{
    font-size: 1.2em;
    padding: 5px 10px;    
}
.fa-regular.fa-circle-play{
    font-size: 1.7em;
}

.barra{
    display: inline-block;
    width: 50%;
    border: 2px solid var(--color-light-grey);
}

.bar-time span{
    padding: 0 10px;
    font-size: 0.8em;  
}

/****** pb-right******/
.pb-right{
    position: relative;
}
.pb-right .barra{
    width: 100px;
    vertical-align: middle;
}

.pb-right-wrapper{
    position: absolute;
    right: 10px;
}

.pb-right i{
    padding: 0 5px;
}

/*************************************************
   MEDIA QUERY
 *************************************************/

 @media screen and (max-width: 1200px) {
    .card{
        width: calc(100% / 4 - 20px);
        margin-bottom: 20px;
    }
    .discovery ul{
        font-size: 0.9em;
    }

    .btn{
        padding: 10px 10px;
    }
 }

 @media screen and (max-width: 992px) {
    .card{
        width: calc(100% / 3 - 20px);
    }
    .discovery ul{
        font-size: 0.8em;
        text-align: center;
    }

    .pb-left, .pb-right, .pb-middle{
        width: 100%;
    }
 }

 @media screen and (max-width: 768px) {
    .card{
        width: calc(100% / 2 - 20px);
    }

    .pb-right{
        width: 20%;
    }
    .pb-left{
        width: 30%;
    }
    .pb-middle{
        width: 50%;
    }
    .pb-right .barra{
        wid
    }
    
 }

 @media screen and (max-width: 575px) {
    .sidebar{
        display: none;
    }

    .sidebar-small{
        display: block;
        padding: 5px;
        width: 50px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;

    }
    .sidebar-small .box-logo{
        width: 40px;
        
    }
    .wrapper, .call-to-action{
        width:calc(100% - 50px)
    }
    .sidebar-small i, .sidebar-small .bottom-sidebar i{
        font-size: 2.1em;
        margin-left: 2px;
        
    }

    .discovery ul{
        font-size: 1em;
        gap: 30px;
    }

    .bottom-sidebar p:first-child{
        display: inline-block;
        padding: 5px ;
        font-size: 0.5em;
        border-bottom: 0px;
        border-radius: 50%;
        text-align: center;
        margin-left: 4px;
    
    }

 }