/*************************************************
    MAIN UTILITIES
 *************************************************/
 :root {
	--color-dark-color: #141922;
	--color-dark-grey: #282828;
	--color-black: #000000;
	--color-white: #ffffff;
	--color-grey: #717171;
	--color-light-grey: #c1c1c1;
	--color-highlight: #adff2f;
}
  /* scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }

  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; }

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.debug {
    border: 1px solid red;
}
  /* margin and padding */
.mt-10{
    margin-top: 10;
}
.mt-20{
    margin-top: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-10{
    margin-bottom: 10px;
}

.mb-30{
    margin-bottom: 30px;
}

.mt-30{
    margin-top: 30px;
}

.mt-50{
    margin-top: 50px;
}

.mt-80{
    margin-top: 80px;
}

.px10{
    padding: 0 10px;
}

.flex{
    display: flex;
}
/* general utilities */
a{
    text-decoration: none;
    color: white;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
}

.div-megawrapper{
    height: 100vh;
    width: 100%;
}

img{
    display: block;
    width: 100%;
}

ul li{
    list-style: none;
}
/*************************************************
    MAIN 
 *************************************************/
main{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
}

.wrapper{
    background-color: var(--color-dark-color);
    height: 100%;
    width: calc(100% - 250px);
    overflow-y: auto;
}


/********************
    call-to-action 
            ***************/
.call-to-action{
    position: fixed;
    z-index: 900;
    width: calc(100% - 250px);
    height: 100px;
    background-color: rgba(60, 60, 60, 0.2);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.call-to-action a{
    margin-right: 25px;
}

.call-to-action a:hover{
    font-size: 1.1em;
}

.btn{
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 20px;
}
.discovery{
    padding: 20px;
    margin-top: 100px;
}


/********************
    sidebar 
            ***************/
.sidebar, .sidebar-small{
    background-color: var(--color-black);
    height: 100%;
    width: 250px;
    padding: 20px;
    font-weight: 300;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: center;
}
.profile-image{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 5px;

}
.search{
    background-color: black;
    border: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 10px 0px;
    color: white;
}
#search2{
    position: absolute;
    border: 0px;
    margin-left: 9px;
    display: none;
}

#lente:hover + input[type=text]{
    display: inline-block;
}

.top-sidebar input[type=text] {
    font-size: 17px;
    max-width: 80%;
  }

.profile-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sidebar-small{
    display: none;
}

.box-logo{
    width: 150px;
}
.sidebar .main-icon li:first-child{
    margin-left: -20px;
    padding-left: 20px;
    border-left: 2px solid var(--color-highlight);
}
.sidebar li, .sidebar-small li{
    padding: 10px 0px;
}

.sidebar i{
    font-size: 1.3em;
    vertical-align:baseline;
    margin-right: 5px;
}
.sidebar h5{
    font-size: 1.2em;
}

.icon-playlist i{
    color: black;
    background-color: var(--color-grey);
    padding: 8px;
}

.bottom-sidebar i:first-child{
    font-size: 0.9em;
}
.bottom-sidebar p:first-child{
    font-size: 0.8em;
    padding: 10px 0px;
    border-bottom: 1px solid var(--color-light-grey);
}

.bottom-sidebar p:nth-child(2){
    font-weight: 600;
}
.pb-icon *{
    margin-right: 10px;
}


/* playlisti sidebar */
.playlist-scrollbar{
    max-height: 40vh;
    overflow-y: scroll;
}

.playlist-scrollbar li{
    font-weight: 500;
}


.img-playlist img{
    width: 35px;
    height: 35px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}

.sidebar a{
    color: var(--color-light-grey);
}
.sidebar a:hover{
    color: white;
    font-weight: 600;
}
/*************************************************
   DISCOVERY
 *************************************************/

 /* navbar */
.discovery ul, .discovery-fixed{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
}

.discovery ul li:first-child{
    border-bottom: 1px solid var(--color-highlight);
}

.discovery-fixed{ /* prova navbar fixed */
    display: none;
}

.menu a{
    color: var(--color-grey)
}

.menu a:hover{
    color: white;
}

/********** SECTION recently **********/
.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 20px;
}

.card{
    padding: 15px 10px;
    border-radius: 10px;
    background-color: rgba(60, 60, 60, 0.2);
    width: calc(100% / 6 - 20px);
}


.text-card{
    padding-top: 10px;
    text-align: center;
    font-size: 1.5em;
}

.text-card h6{
    padding-top: 5px;
    font-weight: 400;
    color: var(--color-grey);
    font-weight: 500;
}

.img-card{
    position: relative;
}

.play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border-radius: 50%;
    padding: 10px;
    background-color: rgba(60, 60, 60, 0.5);
}
.play.fa-regular.fa-circle-play{
    font-size: 5em;
}

.card:hover .play{
    display: inline-block;
}

.card:hover{
    background-color: rgba(100, 100, 100, 0.3);
}

/********** SECTION created **********/
.subtitle{
    font-weight: 400;
    margin-top: -10px;
    color: grey;
}

/********** SECTION popular-artist **********/
#popular-artist .img-card{
    border-radius: 50%;
    overflow: hidden;
}


/*************************************************
    PLAYBAR
 *************************************************/
 .playbar{
    position: fixed;
    z-index: 1000;
    background-color: var(--color-dark-grey);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pb-left, .pb-right{
    padding:10px;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 25%;
}

.pb-middle{
    text-align: center;
    padding: 10px;
    width: 50%;
}
/****** pb-left******/
.playbar .box-image{
    width: 50px;
    min-width: 50px;
}

.pb-icon{
    margin-left: 20px;
}

.pb-left h6{
    font-weight: 400;
    padding-top: 5px;
}

.pb-icon .fa-regular.fa-heart:hover{
    color: var(--color-highlight);
}

.pb-left h6:hover{
    text-decoration: underline;
}
/****** pb-middle******/

.icon-top{
    margin-top: -5px;
    margin-bottom: 5px;
}

.icon-top i{
    font-size: 1.2em;
    padding: 5px 10px;    
    color: var(--color-light-grey);
}

.icon-top i:hover{
    color: white;
}

.icon-top i:hover{
    transform: scale(1.1);
/*     color: var(--color-highlight);
 */}
.fa-regular.fa-circle-play{
    font-size: 1.7em;
}

.barra{
    display: inline-block;
    width: 50%;
    border: 2px solid var(--color-light-grey);
}


.bar-time span{
    padding: 0 10px;
    font-size: 0.8em;  
}

/****** pb-right******/

.pb-right .barra{
    width: 100px;
    vertical-align: middle;
}

input[type="range"] {
    accent-color: white;
    vertical-align: middle;
    height: 5px;
  }

input[type="range"]:hover {
    accent-color: var(--color-highlight);
  }

.pb-right-wrapper{
    position: absolute;
    right: 10px;
}

.pb-right i{
    padding: 0 5px;
}

.pb-right-wrapper .fa-regular.fa-heart{
    display: none;
}
.pb-right-wrapper .fa-regular.fa-heart:hover{
    color: var(--color-highlight);
}


/*************************************************
   MOOD PAGINA GENERI E MOOD
 *************************************************/

 #mood .text-card{
    text-align: left;
 }

 #mood .card{
    aspect-ratio: 1 / 1;
    width: calc(100% / 8 - 20px);
    /* max-height: calc(100vw / 8 - 20px); */
    position: relative;
    overflow: hidden;
    padding: 0 5px;
 }

 #mood .img-card{
    width: 70%;
    height: 50%;
    transform: rotate(30deg);
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: 5px 10px 18px #030303;
 }

#mood .card h5{
    padding-bottom: 100%;
}

#mood .card:hover{
    box-shadow: inset 40px 40px 68px #030303;
    background-color:#1dd05d;
    transition: 2s;
}


#mood .card:hover .img-card{
    animation: ruota 5s infinite;
}

@keyframes ruota{
    from {
        transform: rotate(-360deg);
    } 
    to{
        transform: rotate(0);
    }
}
#mood .discovery ul li:first-child{
    border-bottom: 0px solid var(--color-highlight);
}

#mood .discovery ul li:nth-child(4){
    border-bottom: 1px solid var(--color-highlight);
}

#logo-mood{
    width: 40px;
    position: relative;
    bottom: 90%;
    display: none;
}

#mood .card:hover #logo-mood{
    transition: 2s;
    display: inline;
}
/* utility background per carte pagina MOOD */
 .bgc-red{
    background-color: red;
 }

 .bgc-blue{
    background-color: blue;
 }
 .bgc-purple{
    background-color: purple;
 }
 .bgc-yellow{
    background-color: rgb(161, 161, 0);
 }
 .bgc-pink{
    background-color: pink;
 }
 .bgc-coral{
    background-color: lightcoral;
 }


/*************************************************
   MEDIA QUERY
 *************************************************/
@media screen and (max-height: 800px){
    .playlist-scrollbar{
        max-height: 30vh;
    }
    
    .call-to-action{
        display: none;
    }

    div .discovery{
        margin-top: 5px;      
    } 
/* PROVA NAV IN POSITION FIXED */
       /* .discovery .menu{
        position: fixed;
        z-index: 1000;
        margin: 0 60px;
    }

    .menu li{
        background-color: black;
        padding: 10px;
        border-radius: 10px;
    }
    #recently{
        margin-top: 20%;
    }  */
} 

@media screen and (max-height: 650px){
    .playlist-scrollbar{
        max-height: 10vh;
    }

    .sidebar h5, .icon-playlist, .playlist-scrollbar{
        transform: scale(0.9);
    }
}

@media screen and (max-height: 470px){
    .sidebar h5, .icon-playlist, .playlist-scrollbar{
        display: none;
    }
}

@media screen and (max-width: 1400px){
    #mood .card h5{
        font-size: 1em;
    }
}
 @media screen and (max-width: 1200px) {
    .card{
        width: calc(100% / 4 - 20px);
        margin-bottom: 20px;
    }
    .discovery ul{
        font-size: 0.9em;
    }

    .btn{
        padding: 10px 10px;
    }

    #mood .card{
        width: calc(100% / 6 - 20px);
    }
 }

 @media screen and (max-width: 992px) {
    .card{
        width: calc(100% / 3 - 20px);
    }
    #mood .card{
        width: calc(100% / 4 - 20px);
    }
    .discovery ul{
        font-size: 0.8em;
        text-align: center;
    }

    .pb-left, .pb-right {
        width: 25%;
    }

    .pb-middle{
        width: 50%;
    }
    .song-info{
        width: 100%;
    }

    .pb-icon a:last-child{
        display: none;
    }
 }

 @media screen and (max-width: 768px) {
    .card{
        width: calc(100% / 2 - 20px);
    }
    #mood .card{
        width: calc(100% / 3 - 20px);
    }

    .pb-right-wrapper i:first-child{
        display: none;
    }
 }

 @media screen and (max-width: 576px) {
    .sidebar{
        display: none;
    }

    .sidebar-small{
        display: block;
        padding: 5px;
        width: 50px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }
    .sidebar-small .box-logo{
        width: 40px;
    }
    .wrapper, .call-to-action{
        width:calc(100% - 50px)
    }
    .sidebar-small i, .sidebar-small .bottom-sidebar i{
        font-size: 2.1em;
        margin-left: 2px;
    }

    .discovery ul{
        font-size: 1em;
        gap: 30px;
    }

    .bottom-sidebar p:first-child{
        display: inline-block;
        padding: 5px ;
        font-size: 0.5em;
        border-bottom: 0px;
        border-radius: 50%;
        text-align: center;
        margin-left: 4px;
    }
    .profile-image{
        margin-top: 10px;
        margin-left: 2px;
        margin-bottom: 5px;
    }
 
    .pb-right-wrapper input[type="range"]{
        transform: rotate(-90deg);
    }

    .pb-right .barra{
        max-width: 50px;
        margin-left: -10px;
    }

    .pb-icon .fa-regular.fa-heart{
        display: none;
    }
    .pb-right-wrapper .fa-regular.fa-heart{
        display: inline;
    }

    .pb-left  {
        width: 30%;
    }
    .pb-right{
        width: 20%;
    }
    .pb-middle{
        width: 50%;
    }

    .pb-middle .icon-top{
        transform: scale(0.9);
    }

 }

 

 